{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}

<!DOCTYPE HTML>
<html>
<head>
    <script data-cfasync="false" type="text/javascript" src="//use.typekit.net/axj3cfp.js"></script>
    <script data-cfasync="false" type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} {% else %}{{site.subtitle}} {% endif %} | {{ site.title }}</title>

<meta name="author" content="{{ site.author }}">
{% capture description %}{% if page.description %}{{ page.description }}{% elsif site.description %}{{ site.description }}{%else%}{{ content | raw_content }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}"> {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{%else%}<meta name="keywords" content="{{ site.keywords }}">{% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ root_url }}/favicon.png" rel="shortcut icon">
    <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="{{ root_url }}/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <link href="{{ root_url }}/stylesheets/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" class="ui" href="{{ root_url }}/stylesheets/semantic_adapt.min.css">
    <link rel="stylesheet" type="text/css" href="{{ root_url }}/stylesheets/semantic_adapt.css">
    <script src="{{ root_url }}/javascripts/libs/easing.js"></script>
    <script src="{{ root_url }}/javascripts/libs/waypoints.js"></script>
    <script src="{{ root_url }}/javascripts/libs/tablesort.js"></script>
    <script src="{{ root_url }}/javascripts/semantic_adapt.min.js"></script>
    <script src="{{ root_url }}/javascripts/semantic_adapt.js"></script>

    {% include custom/fancybox_head.html %}
</head>

<body id="example" class="menu" ontouchstart="">
        <header id="header" class="inner">{% include header.html %}</header>
    <div id="content" class="inner">
        <div class="main container">
            <div class="peek">
              <div class="ui vertical pointing secondary menu">
                <a class="active item">Personal Information</a>
                <a class="item">Education and Training</a>
                <a class="item">Personal Skills and Competences</a>
                <a class="item">Additional Information</a>
                <a class="item">About Myself</a>
                <a class="item">Work Experiences</a>
              </div>
            </div>

            <h2 class="ui dividing header">Personal Information</h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"><span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Surname / Full First name <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">LEE, Yuan-chun Harry</div>
                </div>
                <!--
                <div class="section_line-item">
                    <div class="ssection">Address <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"></div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Telephone <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"></div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Fax<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"></div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Email <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"></div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Nationality <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"></div>
                </div>
                -->
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <Br><Br><Br>

            <h2 class="ui dividing header">Education and Training </h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"><span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">2013 - present</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Title of qualification <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">Master of Science in Electrical Engineering - MSc(Eng)(Electrical) by research </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Topic <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">An Investigation on the effects of frequency components of lightning regarding lightning injuries </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of institution <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">University of the Witwatersrand, Johannesburg, School of Electrical and Information Engineering</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">2011 - 2012</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Title of qualification <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">Bachelor of Science in Electrical Engineering - BSc(Eng)(Electrical)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Principal subjects <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">Electric Circuits, Engineering Physics, Mechanics, Engineering Applied Mathematics, Electronics, Software Development, Microprocessor Engineering, Electric and Magnetic Systems, Signals and Systems, Power Engineering, Electromagnetic Engineering, Electrical Engineering Design, Automation and Control, Probabilistic System Analysis, Economics of Design, Systems Management, Engineer in Society, Measurement Systems, Software Engineering, High Frequency Engineering.</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of institution <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">University of the Witwatersrand, Johannesburg, School of Electrical and Information Engineering</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">2008 - 2010</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Title of qualification <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">Bachelor of Engineering Science in Biomedical Engineering - BSc(Eng)(BME)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Principal subjects <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo"> Chemistry, Introductory Life Sciences,  Molecular and Cell Biology, Biomedical Statistics and Numerical Methods, Biomedical Signals Systems and Control, Physiology and Medical Biochemistry, Biomedical Transport Phenomena, Biomedical Measurement Instrumentation and Imaging, Human Anatomy.</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of institution <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">University of the Witwatersrand, Johannesburg, School of Electrical and Information Engineering</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">2007</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Title of qualification <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">Senior Certificate (Matriculation)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Principal subjects <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">English (First language) HG, Afrikaans(Second language) HG, Mathematics HG, Biology HG, Physical Science HG, Additional Mathematics HG, Computer Studies HG.</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of institution <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">St. Benedict’s College, Bedfordview, Johannesburg, Assessment Authority: I E B</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">2007</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Title of qualification <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo" style="font-weight: bold;">GCE Chinese (Advanced Level)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Principal subjects <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">Chinese (A Level)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of institution <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">Edexcel UK, British Council (South Africa)</div>
                </div>
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <Br><Br><Br>

            <h2 class="ui dividing header">Personal Skills and Competences</h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"> <span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Fluent languages<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">English, Mandarin (Chinese)</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Other languages<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">Afrikaans, Taiwanese</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Computer skills and competences<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Obtained ICDL certification (ECDL in Europe) - confident in word processors. Experiences in java, C++, assembly languages.<Br><Br>
                        Competent Operating Systems: Windows, Linux (Ubuntu), Mac OS X. <Br><Br>
                        Familiar with MATLAB, MPLAB, Codeblocks, jGrasp, Photoshop, Flash, Microsoft Office packages, LATEX. <Br><Br>
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Other skills and competences<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Experiences in translation - translator for overseas groups visiting South Africa. Translator for Global Sources. <Br><Br>
                        Experiences in teaching - tutor English to new immigrants to South Africa, mainly Chinese and Taiwanese. <Br><Br>
                        Experience in judging - 2013 Eskom Expo for Young Scientists National Finals Judge. <Br><Br>
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Driving licence <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">Code B</div>
                </div>
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <Br><Br><Br>

            <h2 class="ui dividing header">Additional Information</h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"><span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Hobbies<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Image editing and creation, simple flash designs, computer gaming and fiddling with new technologies/gadgets.<Br><Br>
                        Sporting activities: Tennis, Squash, Basketball. <Br><Br>
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Member<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Senior Executive Committee of SAIEE-IEEE Student Branch at University of Witwatersrand <Br><Br>
                        Golden Key International Honour Society
                    </div>
                </div>
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <Br><Br><Br>

            <h2 class="ui dividing header">About Myself</h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"><span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection"><span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        I am a friendly and polite young person who is capable of working both individually and in a team. I am a quick learner and take responsibility in everything I do. When a task is set, I complete it to the best of my abilities within the given time limit. I always seek opportunities for new challenges so that I can learn more. I am innovative and a tinker, I devote a lot of my time into doing what interests me which consequently enables me to be good at what I do.
                    </div>
                </div>
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>
            <Br><Br><Br>

            <h2 class="ui dividing header">Work Experiences</h2>
            <div class="section_line">
                <div class="section_line-item active">
                    <div class="section"><span class="marker"><span class="dot"></span></span>
                    </div>
                    <div class="info">&nbsp;</div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Dates<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        December, 2011 - January 2012 (Vacation Work)
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Occupation or position held<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Junior Engineer
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Main activities and responsibilities<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Leakage Unit verifier jig amendment: The Earth Leakage Unit verifier jig is used for the verification tests to validate the performance of earth leakage units. The issue with these verifier jigs are that the new microprocessors used for the units has altered the normal operating behaviour. This caused the system to function incorrectly and resulted in invalid verification tests. I am responsible for rectifying this. This project was completed successfully with the verifier jigs correctly amended. This project has allowed me to engage with thorough hardware and software analysis on complicated engineering designs. <Br><Br>
                        EBM failure identification and solution: The EBM is a digital kWh power meter produced by the company. Several units were malfunctioning and were required to be investigated. I identified and categorised different types of failure modes which allows quick failure analysis in the future. I tested and gathered results to produce the final testing procedures. The cause of the failure is also identified by this iterative process. I have learnt to approach engineering problems with systemic methods as well as gaining valuable troubleshooting experiences. <Br><Br>
                        Electric Double Layer Capacitor (EDLC) verifier: The company has decided to incorporate the EDLC whereby the EDLC serves as a backup battery in times of power failure. However, the EDLC is required to be verified before inserting into the circuit to ensure the correct functioning of the device. I conducted test routines and verification tests which ensure that the EDLCs inserted into the circuits are of a unified standard. This also enables the ease of troubleshooting in the future if required. I have gained valuable experiences on the design aspect of engineering through this project.
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Name of employer<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        CBI-electric: low voltage
                    </div>
                </div>
                <div class="section_line-item">
                    <div class="ssection">Type of business or sector<span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div class="sinfo">
                        Electronics manufacturer
                    </div>
                </div>
            </div>
            <div class="section_line">
                <div class="section_line-item">
                    <div class="ssection"> <span class="smarker"><span class="sdot"></span></span>
                    </div>
                    <div>&nbsp;</div>
                </div>
            </div>

        </div>
    </div>
    <footer id="footer" class="inner">{% include footer.html %}</footer>
    {% include after_footer.html %}
    </body>
</html>
